{{! //create 2 containers one for daily prayer/mediation the other forthe weekly workout plan...this will be populated by the database and }}

{{!--  --}}
<div>
  <div>
    <div>
      <h1>physical plan</h1>
    </div>
    <div class="card-group">
  <div class="card">
       <div class="card-body">
      <h5 class="card-title">Resistance Exercises</h5>
      <p class="card-text">Resistance exercises consist of strength or weight training. This training makes your muscles work against your own body weight or any type of free weights.As a beginner, train 2-3 times a week.</p>
    <a href="#" class="btn btn-danger">Try Resistance Training</a>
  </div>
      
  </div>
  <div class="card">
     <div class="card-body">
      <h5 class="card-title">Balance Exercises</h5>
      <p class="card-text">Balanced exercises strengthens your muscles as well as your core and your legs. You receive a full body workout as well as cardio exercises.</p>
    <a href="#" class="btn btn-warning">Try Balanced Training</a>
    </div>
    
  
   
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Cardio Exercises</h5>
      <p class="card-text">These exercises help you burn fat,calories,and builds your endurance. These exercises enable you to also lose weight. Overall exercising is healthyand allows you to relieve stress alltogether. </p>
    <a href="#" class="btn btn-info">Try Cardio Exercises</a>
    </div>
    
  </div>
</div>
    <div>
      <h1>mental plan</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Meditation</h5>
        <p class="card-text">This is a method of focused concentration, which allows you to address stress and can help reduce anxiety, chronic pain, or even depression.</p>
      <a href="#" class="btn btn-primary">Meditate</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Prayer</h5>
        <p class="card-text">Prayer bring a sense of connection to a higher power, and bring meaning to the things of importance and value in your life, and serves as similar purpose to meditation which can also help reduce stress, depression, and anxiety.</p>
      <a href="#" class="btn btn-success">Go somewhere</a>
      </div>
    </div>
  </div>
  </div>

</div>